*{
    margin:0;
    padding:0;
}
body{
    box-sizing: border-box;
   
    font-family: 'Noto Sans JP', 'Times New Roman', Times, serif;
    line-height:20px;
    
    

}
.project1Container{
    position: relative;
    width:239px;
}
.text {
    white-space: nowrap; 
    color: white;
    /*font-size: 20px;*/
    position: absolute;
    overflow: hidden;
    top: 50%;
    left:51%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }

  .rowContainer{
      display:flex;
      flex-direction: row;
  }
  .colContainer{
      display:flex;
      flex-direction: column;
  }
  .projectImage {
      width:30px;
     
  }
.project1discription{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(11, 74, 182, 0.842);
  border-radius: 10px;
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: .5s ease;
}
.project1Container:hover .project1discription {
    width:100%;
  }


.header{
    background-image:linear-gradient(90deg, rgba(11,73,182,1) 0%, rgba(129,23,158,0.7458333675266982) 52%, rgba(223,93,157,1) 100%),
    url(images/backgroud_image.jpg);
    background-size:cover;
    background-position: top;
    height: 90vh;
    float:center;
    clip-path: polygon(0 0,100% 0,100% 80vh,0 100%);   
}
.workDiscibtion {
    display:flex;
    margin:20px;
    align-items: center;
}
.redText {
    color:red;
}
.workCard {
    box-shadow: inset 0px 0px 10px rgba(243, 241, 241, 0.9);
    border-radius:20px;
    padding:10px;
    margin:20px;
    width:40rem;
    text-align: center;
    transition: all .2s;
}
.workCard:hover{
    transform: translateY(-4px);
    box-shadow: 0px 10px 25px rgb(0,0,0,0.4) ;
}
.button:hover{
    transform: translateY(-4px);
    box-shadow: 0px 10px 25px rgb(0,0,0,0.4) ;
}
.margin {
    margin:15px;
}
.blackFont{
    color:black;
    
    display:inline;
    text-align: center;
    margin-top:15px;
}
.figureDisplay{
    width:150px;
    display: flex;
    flex-flow: column;
}
.button {
    background-color: rgba(223,93,157,1); /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width:200px
  }

.circleBorder{
    position: absolute;
    top:50%;
    left:30%;
    transform: translate(-50%,-50%);
    border:3px solid white;
    border-radius:50%;
    width:20em;
    height:auto;
        
}
.container{
    display:flex;
    flex-flow:row;
    margin-top:50px;
    justify-content:space-evenly;
}


.workImage{
    border-radius: 50%;
    box-shadow: inset 0px 0px 10px rgba(0,0,0,0.9);
}
.textCenter{
    text-align: center;
}
.vl {
    border-left: 1px solid rgb(48, 49, 48);
    height: 190px;
  }
.center {
    justify-content: center;
}
.margin{
    margin:30px;
}
.intoHeading{
    margin:15px;
    font-weight:100;
    letter-spacing:3px;
    animation-name: moveFromRight;
    animation-duration: 1s;
    color:white;
}
.container2{
    position: absolute;
    top:40%;
    left:43%;
    text-align:center;

}
.navigationbar{
    position:fixed;
    z-index: 1;
    background-color:rgba(11,73,182);
    padding:10px;
    width:100%; 
}

.navigationbar>a {
    padding:40px;
    
}    


/*.learnMoreButton:link,.learnMoreButton:visited{*/
.learnMoreButton{
    padding:10px 20px;
    border-radius:100px;
    border:0;
    margin-top:10px;   
    display: inline-block;
    text-decoration:none;
    transition: all .2s;
    
}
.learnMoreButton:hover{
    transform: translateY(-4px);
    box-shadow: 0px 10px 25px rgb(0,0,0,0.4) ;
}
.learnMoreButton:active{
    transform: translateY(-2px);
    box-shadow:0 5px 10px rgb(0,0,0,0.4);
}

a{

    text-decoration: none;
    color:white;
}
.aboutImages{

    height:150px;

    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
}
.About{
   
    padding:50px;

}
.headings{
    
    margin:80px;
    text-align:center;
    color:rgb(51, 48, 48);
    font-size: 35px;
    
}

.backgroudFooter{
    background-image:linear-gradient(90deg, rgba(11,73,182,1) 0%, rgba(129,23,158,0.7458333675266982) 52%, rgba(223,93,157,1) 100%),
    url(images/backgroud_image.jpg);
    height:18vh;

    background-size:cover;
    float:center;
    padding-top:100px;
    clip-path: polygon(0 0,50% 20%,100% 0,100% 100%,0 100%);
    
}
.myWorkImages{
    height:250px;
    border: 1px solid black;
    border-radius: 10px;
    padding:5px;
    box-shadow:3px 5px 25px rgb(131, 128, 128);
}
.footerContact{
    
    color:white;
    text-align:center;
    line-height: 30px;
   

    
}
.dotBlue {
    height: 15px;
    width: 15px;
    background-color: rgba(11,73,182,1);
    border-radius: 50%;
    display: inline-block;
  }
  .dotPink {
    height: 15px;
    width: 15px;
    background-color:rgba(223,93,157,1);
    border-radius: 50%;
    display: inline-block;
  }
.imageDisplay{
    
  text-align: center;
  

}
.size {
    font-size: 25px;
}
.imageLogo{
    position: relative;
    top:50%;
    left:50%;
    text-align: center;
   
    
    
    
    

}
.aboutText{
   
    color:rgb(48, 46, 46);
    text-align: center;
    margin:5rem
    
}

.imageheight{
    height:40px;
    width:auto;
    margin:10px;  
    -webkit-filter: drop-shadow(1px 1px 0 rgb(255, 254, 254))
    drop-shadow(-1px -1px 0 rgb(255, 254, 254));
    filter: drop-shadow(1px 1px 0 white) 
    drop-shadow(-1px -1px 0 white);
   cursor: pointer;
}

.w3-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
}

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {
.header {
    height: 40vh;
    clip-path: polygon(0 0,100% 0,100% 33vh,0 100%); 
}

.circleBorder{
    top:11%;
    left:21%;
    width:17em;
}
.container2{
    top:15%;
}
.navigationbar{
    top:98vh;
    width:100%;
}
.backgroudFooter{
    height: 15vh;
}
}
  